
@font-face {
  font-family: "Roboto";
  src: url('/font/Roboto-Regular.woff2')format("woff2");
}

@font-face {
  font-family: "Roboto_medium";
  src: url('/font/Roboto-Medium.woff2');
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Roboto";
}

.image {
  float: left;
  width: 40%;
  z-index: -1;
}

.logo  {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  margin: 1rem;
}

.logo img  {
  max-width: 3rem;
  max-height: rem;
  border-radius: 1rem;  
}

.logo h1 {
  font-size: 24px;
  font-family: "Roboto";
  color:  whitesmoke;
}

.logo_background {
  display: flex;
  background-color: black;
  opacity: 0.8;
  max-width: 25%;
  width: 29%;
  height: 100px;
  position: absolute;
  top: 1rem;
  left: 5rem;
  border-radius: 1rem;
  justify-content: center;
  padding: 1rem;
}

.text-div {
  display: flex;
  justify-content: left;
  float: right;
  width: 60%;
  background-color: rgb(255, 251, 246);
  padding-top: 10rem;
  padding-left: 4rem;
  flex-direction: column;
}

.text-div h1 {
  font-family: "Roboto_medium";
  padding-bottom: 1.4rem;
}

.text-div p {
  line-height: 1.5rem;
  padding-bottom: 3rem;
  max-width: 80%;
}

.form-div {
  display: flex;
  position: relative;
  justify-content: left;
  left: 0px;
  background-color: white;
  width: 60%;
  padding: 2rem 1rem 2rem 4rem; 
  box-shadow: 2px 4px 10px rgb(0, 0, 0, 0.1);
}

.form-div h3 {
  font-weight: 500;
}